name: Ping Website

on:
  schedule:
    - cron: "30 3 * * 1"
  workflow_dispatch:

jobs:
  ping-website:
    name: Ping Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Ping Website
        run: |
          chmod +x ping-website.sh
          ./ping-website.sh $WEBSITE_URL
        env:
          WEBSITE_URL: ${{ secrets.WEBSITE_URL }}
